<div class="container">
  <div class="row">
    <div class="text-center">
      <h3>Visualizzazione informazioni di un cliente (con modifiche annesse)</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-8 mx-auto">
      <form action="/customer" method="POST">
        <label for="idInput">dynamodb id</label>
        <input type="text" class="form-control" id="idInput" name="idInput" value={{customer.id}}>
        <label for="nameInput">name</label>
        <input type="text" class="form-control" id="nameInput" name="nameInput" value={{customer.name}}>
        <label for="ficInput">fatture in cloud id</label>
        <input type="text" class="form-control" id="ficInput" name="ficInput" value={{customer.ficId}}>
        <label for="stripeInput">stripe id</label>
        <input type="text" class="form-control" id="stripeInput" name="stripeInput" value={{customer.stripeId}}>
        <label for="adjustmentInput">payment adjustment</label>
        <input type="text" class="form-control" id="adjustmentInput" name="adjustmentInput"
          value={{customer.paymentAdjustment}}>
        <label for="flatInput">flat fee</label>
        <input type="text" class="form-control" id="flatInput" name="flatInput" value={{customer.flatFee}}>
        <label for="discountInput">discount</label>
        <input type="text" class="form-control" id="discountInput" name="discountInput" value={{customer.discount}}>
        <label for="markupInput">markup</label>
        <input type="text" class="form-control" id="markupInput" name="markupInput" value={{customer.markup}}>

        <div>
          <a href="../customerlist" class="btn btn-dark">Annulla</a>
          <button class="btn btn-dark">Modifica</button>
          <button class="btn btn-dark">Elimina</button>
        </div>
      </form>
    </div>
  </div>
</div>
