<div class="container">
  <div class="row">
    <div class="text-center">
      <h3>Lista dei clienti salvati nella gestione con forecast</h3>
    </div>
  </div>
  <div class="row">
    {{#each customers}}
    <a href="customer/{{this.id}}" class="col client-card">
      <p>id: {{this.id}}<br>name: {{this.name}}<br>fic: {{this.ficId}}<br>
        stripe: {{this.stripeId}}<hr>flatfee: {{this.flatFee}}<br>
        adjustment: {{this.paymentAdjustment}}<br>discount: {{this.discount}}<br>
        markup: {{this.markup}}<hr></p>
    </a>
    {{/each}}
  </div>
</div>
